<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="bbqResSelect">
		SELECT 
			 RES_PLACE
		FROM BBQ_RV
		WHERE RES_DATE = ?
		AND RES_STATEMENT = 'Y'
	</entry>
		
	
	<entry key="bbqResInsert">
		INSERT INTO BBQ_RV(RES_NO
	                  ,RES_PLACE
	                  ,RES_DATE
	                  ,RES_PEOPLE
	                  ,RES_NAME
	                  ,RES_MSG
	                  ,MEMBER_NO)
	            VALUES(BBQ_RV_SEQ.NEXTVAL
	                  , ?
	                  , ?
	                  , ?
	                  , ?
	                  , ?
	                  , ?)	
	</entry>
	
	<entry key="bbqSelectOne">	
				        
		SELECT *
		FROM (
		    SELECT *
		    FROM BBQ_RV
		    WHERE MEMBER_NO=?
		    ORDER BY RES_DATE DESC
		)
		WHERE ROWNUM = 1
	</entry>
	
	<entry key="bbqDelete">
	DELETE
	FROM BBQ_RV
	WHERE RES_NO = ?
	</entry>
	
	

	
</properties>