<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
	SELECT *
	  FROM MEMBER
	 WHERE MEMBER_ID = ?
	   AND MEMBER_PWD = ?
	   AND MEMBER_STATUS = 'Y'
	</entry>
	
	<entry key="insertMember">
	INSERT INTO MEMBER(MEMBER_NO
					 , MEMBER_ID
	                 , MEMBER_PWD
	                 , MEMBER_NAME
	                 , MEMBER_ADDRESS
	                 , MEMBER_ADDRESS2
	                 , MEMBER_EMAIL
	                 , MEMBER_PHONE
	                 )
	                 VALUES(
	                 MEMBER_SEQ.NEXTVAL
	                 , ?
	                 , ?
	                 , ?
	                 , ?
	                 , ?
	                 , ?
	                 , ?)
	</entry>
	
	<entry key="updateMember">
	UPDATE MEMBER
	   SET MEMBER_PWD = ?
	     , MEMBER_NAME = ?
	     , MEMBER_EMAIL = ?
	     , MEMBER_PHONE = ?
	 WHERE MEMBER_ID = ?
	</entry>
	
	<entry key="updatePwdMember">
	UPDATE MEMBER
	   SET MEMBER_PWD = ?
	     , MODIFY_DATE = SYSDATE
	 WHERE MEMBER_ID = ?
	   AND MEMBER_PWD = ?
	</entry>
	
	<entry key="selectMember">
	SELECT *
	  FROM MEMBER
	 WHERE MEMBER_ID = ?
	   AND MEMBER_STATUS = 'Y'
	</entry>
	
	<entry key="deleteMember">
		UPDATE MEMBER
		   SET MEMBER_STATUS = 'N'
		  WHERE MEMBER_ID = ?
		   AND MEMBER_PWD = ?
	</entry>
	
	<entry key="idCheck">
		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE MEMBER_ID = ?
	</entry>
	
	<entry key="findId">
		SELECT MEMBER_ID
		  FROM MEMBER
		 WHERE MEMBER_NAME = ? 
		  AND MEMBER_ADDRESS2 = ?
		   AND MEMBER_ADDRESS = ?
		   AND MEMBER_PHONE = ?
	</entry>
	
	<entry key="findPwd">
		SELECT MEMBER_PWD
		  FROM MEMBER
		 WHERE MEMBER_ID = ? 
	</entry>
	
	<entry key="selectCostSub">
		SELECT *
		FROM (
		    SELECT
		        COST_DATE,
		       CUR_COM - BEFORE_COM AS RES_COM,
		       CUR_ELE - BEFORE_ELE AS RES_ELE,
		       CUR_WAT - BEFORE_WAT AS RES_WAT,
		       CUR_HEA - BEFORE_HEA AS RES_HEA,
		        ROWNUM AS RN
		    FROM (
		        SELECT
		            COST_DATE,
		            COMMON_BILL AS CUR_COM,
		            LAG(COMMON_BILL) OVER (ORDER BY COST_DATE) AS BEFORE_COM,
		            ELECTRICITY_BILL AS CUR_ELE,
		            LAG(ELECTRICITY_BILL) OVER (ORDER BY COST_DATE) AS BEFORE_ELE,
		            WATER_BILL AS CUR_WAT,
		            LAG(WATER_BILL) OVER (ORDER BY COST_DATE) AS BEFORE_WAT,
		            HEATING_BILL AS CUR_HEA,
		            LAG(HEATING_BILL) OVER (ORDER BY COST_DATE) AS BEFORE_HEA
		        FROM
		            COST
		        WHERE
		            MEMBER_NO = ?
		            AND COST_DATE IN ('?','?')
		        ORDER BY COST_DATE
		    )
		)
		WHERE RN > 1
			
	</entry>
	
	<entry key="selectCost">
		SELECT COST_DATE,COMMON_BILL,ELECTRICITY_BILL,WATER_BILL,HEATING_BILL
		FROM COST 
		WHERE COST_DATE IN ?
		AND MEMBER_NO = ?

	</entry>
	
	<entry key="wroteList">
	SELECT *
		  FROM (
		    SELECT ROWNUM RNUM, A.*
		      FROM (
		
		SELECT BOARD_NO, CG_NAME
		             , BOARD_TITLE
		             , MEMBER_ID
		             , COUNT
		             , CREATE_DATE
		             , RECOMMEND
		             , CG_NO
		          FROM BOARD B
		          JOIN CATEGORY USING (CG_NO)
		          JOIN MEMBER USING (MEMBER_NO)
		         WHERE B.BOARD_STATUS = 'Y'
		         AND MEMBER_NO=?		
	 ) A
		  )
		 WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
</properties>